<html>
  <head>
    <title>Hangman</title>
    <style>
      #wrong {
        color: #<%= color %>;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p id="wrong">
      <%= error_guess %>
    </p>
    <p id="wrong">
      <%= correct_msg %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess Letter' />
    </form>
    <p>
      <%= guess_msg %>
    </p>
    <p>
      <%= progress %>
    </p>
    <p>
      <%= bad_guess_msg %>
    </p>
    <p>
      <%= message %>
    </p>
  </body>
</html>
